@using System.Web.Optimization;
<!DOCTYPE html>
<html ng-app="Assessment">
<head>
    <title>EdTools</title>
    <meta charset="utf-8"/>
    <base href="/"/>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/app")

</head>
<body>
    <div ng-include src="'/Partials/navbarPartial.html'"></div>
    <div ng-view></div>
    <div ng-include src="'/Partials/footerPartial.html'"></div>
</body>
</html>
